{% extends "base.html" %}

{% block content %}

    <!-- My status -->
    <h3><em id="my_status"></em></h3>

    <h4><em><div id="currentRoomName"></div></em></h4>
    <h6><em><div id="user_status"></div></em></h6>
    <!-- I have this guys ID on button click assign this the button value -->
    <div id="get_user_status" hidden></div>

    <button data-toggle="modal" data-target="#myModal">New group</button>
    {% if current_room is not none %}
    <button data-toggle="modal" data-target="#myModal2">Group info</button>
    {% endif %}
    <a href="{{ url_for('logout') }}"><button>Logout</button></a>


    <strong>Current User: {{ current_user.username }}</strong>
    <h1>Friends</h1>
    <div id="friendsPanel">
        {% for friend, room in zipped_friends_list %}
            <!-- onclick a function should trigger ajax to get the needed -->
            <div id="{{ room.room_id }}" onclick="getCurrentPrivateRoom(this); verify_status(); loadInputResource()">
                {{ friend.name_surname }}
                <button id="{{ friend.id }}" name="{{ friend.name_surname }}" value="{{ friend.username }}" onclick="removeUser(this)">Remove user</button>
            </div>
        {% endfor %}
    </div>

    <h1>My rooms</h1>
    <div id="roomsPanel">
    {% for room in rooms %}
        {% if room.private_room == False %}
            <div id="{{ room.room_id }}">
                {{ room.name }}
                <button name="{{ room.name }}" value="{{ room.room_id }}" onclick="leaveRoom(this)">Leave room</button>
            </div>
        {% endif %}
    {% endfor %}
    </div>

    <h1>All available users</h1>
    <div id="availableUsers">
        {% for user in all_users %}
            {% if user != current_user %}
                {% set my_string = current_user.id ~ user.id ~ '' %}
                {% set my_string2 = user.id ~ current_user.id ~ '' %}
                {% if my_string not in check_private_rooms and my_string2 not in check_private_rooms %}
                <div>
                    {{ user.name_surname }}
                    <button id="{{ user.id }}" name="{{ user.name_surname }}" value="{{ user.username }}" onclick="addUser(this)">Add user</button>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    <h1>All available rooms</h1>
    <div id="availableRooms">
        {% for room in all_rooms %}
            {% if room.private_room == False and room not in current_user.room_subscribed %}
            <div>
                {{ room.name }}
                <button name="{{ room.name }}" value="{{ room.room_id }}" onclick="joinRoom(this)">Join room</button>
            </div>
            {% endif %}
        {% endfor %}
    </div>

    <form id="form2" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; margin: 1.75rem auto;">
                <div class="modal-content" style="margin: .5rem;">

                    <div class="modal-header">
                        <h4 class="modal-title" style="font-size: 14px; font-weight: 600;">New group</h4>
                        <button type="button" class="close close-button" data-dismiss="modal" style="outline: none; font-weight: 500; font-size: 17px;">close</button>
                    </div>

                    <div class="modal-body" style="max-height: 430px; overflow: auto;">
                        {{ form2.name }}
                    </div>

                    <div class="modal-footer">
                        {{ form2.submit() }}
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; margin: 1.75rem auto;">
            <div class="modal-content" style="margin: .5rem;">

                <div class="modal-header">
                    <h4 class="modal-title" style="font-size: 14px; font-weight: 600;">Group info</h4>
                    <button type="button" class="close close-button" data-dismiss="modal" style="outline: none; font-weight: 500; font-size: 17px;">close</button>
                </div>

                <div class="modal-body" style="max-height: 430px; overflow: auto;">
                    {% for member in room_members %}
                    {% if current_room.private_room == False %}
                        {% if member.id == current_room.created_by %}
                            <strong>{{ member.name_surname }} ADMIN</strong><br>
                        {% else %}
                            <strong>{{ member.name_surname }}</strong><br>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <!-- not necessary to do this with flask forms as it should be created on ajax server response -->
    <ul id="messages"></ul>

    <!-- message input and submit box to be replaced with html ones -->
    <div id="msgInput">
        <input id="myMessage" type="text" name="message">
        <input id="sendbutton" type="submit" name="submit" value="Send">
    </div>

{% endblock %}

{% block socketio %}

    <!-- Get current_user.username -->
    <script type="text/javascript">
        const username = '{{ current_user.username }}';
    </script>

    <!-- SocketIO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <!-- Custom SocketIO JS -->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

    <!-- Helper scripts for functionality -->
    <script src="{{ url_for('static', filename='scripts/extras.js') }}"></script>
    
{% endblock %}

