{% extends "base.html" %}

{% block content %}

    <div class="container-fluid app">        
        <!-- Sidebar start -->
        <div class="row app">
            <div class="col-sm-4 side">
                <div class="heading">
                    <em id="my_status"></em><br>
                    <em>Current User: {{ current_user.username }}</em>
                    <a href="#" data-toggle="modal" data-target="#myModal">New group</a>
                </div>

                <div class="nav-section">
                    <h5><em>Friends</em></h5>
                    <div id="friendsPanel">
                        {% for friend, room in zipped_friends_list %}
                            <!-- onclick a function triggers ajax to get the needed -->
                            <div id="{{ room.room_id }}" onclick="getCurrentRoom(this); verify_status()">
                                {{ friend.name_surname }}
                                <!-- possible ID conflict as I use room id here too -->
                                <button name="{{ friend.name_surname }}" value="{{ friend.username }}" onclick="removeUser(this)">Remove user</button>
                            </div>
                        {% endfor %}
                    </div>

                    <h5><em>My rooms</em></h5>
                    <div id="roomsPanel">
                    {% for room in rooms %}
                        {% if room.private_room == False %}
                            <div id="{{ room.room_id }}" onclick="getCurrentRoom(this)">
                                {{ room.name }}
                                <button id="roomView" name="{{ room.name }}" value="{{ room.room_id }}" onclick="leaveRoom(this)">Leave room</button>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>

                    <h5><em>All available users</em></h5>
                    <div id="availableUsers">
                        {% for user in all_users %}
                            {% if user != current_user %}
                                {% set my_string = current_user.id ~ user.id ~ '' %}
                                {% set my_string2 = user.id ~ current_user.id ~ '' %}
                                {% if my_string not in check_private_rooms and my_string2 not in check_private_rooms %}
                                <div>
                                    {{ user.name_surname }}
                                    <button name="{{ user.name_surname }}" value="{{ user.username }}" onclick="addUser(this)">Add user</button>
                                </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <h5><em>All available rooms</em></h5>
                    <div id="availableRooms">
                        {% for room in all_rooms %}
                            {% if room.private_room == False and room not in current_user.room_subscribed %}
                            <div>
                                {{ room.name }}
                                <button name="{{ room.name }}" value="{{ room.room_id }}" onclick="joinRoom(this)">Join room</button>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                
                <div>
                    <a style="text-decoration: none;" href="{{ url_for('logout') }}"><button style="border-radius: 0;" type="button" class="btn btn-danger btn-block btn-sm">Logout</button></a>
                </div>
            </div>
        
            <!-- Sidebar end -->

            <!-- My status -->
            <div class="col-sm-8 chatArea">

                <!-- should show when a group/room is clicked and should get the info by ajax-->
                <div class="heading" data-toggle="modal" data-target="#myModal2">
                    <em><div id="currentRoomName"></div></em>
                    <em><div id="user_status"></div></em>
                    <!-- I have this guys ID on button click assign this the button value -->
                    <div id="get_user_status" hidden></div>
                </div>

                <!-- Navbar end -->
                
                <div class="messageArea">

                    <div id="pre-user-select">
                        <div style="font-size: 16px;" class="text-muted">
                            Please select a chat to start messaging
                        </div>
                    </div>
                    
                    <ul id="messages"></ul>
                </div>

                <div id="msgInput">
                    <div style="margin: 0; width: 100%;" class="row">

                        <div class="col-sm-1 col-xs-1 zero">

                        </div>

                        <div class="col-sm-10 col-xs-10 zero">
                            <input id="myMessage" style="width: 100%;" type="text" name="message">
                        </div>

                        <div class="col-sm-1 col-xs-1 zero">
                            <input id="sendbutton" type="submit" name="submit" value="Send">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; margin: 1.75rem auto;">
                <div class="modal-content" style="margin: .5rem;">

                    <div class="modal-header">
                        <h4 class="modal-title" style="font-size: 14px; font-weight: 600;">New group</h4>
                        <button type="button" class="close close-button" data-dismiss="modal" style="outline: none; font-weight: 500; font-size: 17px;">close</button>
                    </div>

                    <div class="modal-body" style="max-height: 430px; overflow: auto;">
                        {{ form.name }}
                    </div>

                    <div class="modal-footer">
                        {{ form.submit() }}
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="myModal2">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 400px; margin: 1.75rem auto;">
            <div class="modal-content" style="margin: .5rem;">

                <div class="modal-header">
                    <h4 class="modal-title" style="font-size: 14px; font-weight: 600;">Group info</h4>
                    <button type="button" class="close close-button" data-dismiss="modal" style="outline: none; font-weight: 500; font-size: 17px;">close</button>
                </div>

                <div id="roomInfoModal" class="modal-body" style="max-height: 430px; overflow: auto;">

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <!-- Get current_user.username -->
    <script type="text/javascript">
        const username = '{{ current_user.username }}';
    </script>

    <!-- SocketIO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <!-- Custom SocketIO JS -->
    <script src="{{ url_for('static', filename='scripts/socketio.js') }}"></script>

    <!-- Helper scripts for functionality -->
    <script src="{{ url_for('static', filename='scripts/extras.js') }}"></script>
    
{% endblock %}

