html, body {
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    min-height: 260px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: transparent;
}

.app {
    overflow: hidden;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.zero {
    margin: 0 !important;
    padding: 0 !important;
}

.heading {
    padding: 10px 16px 10px 15px;
    margin: 0 !important;
    height: 60px;
    width: 100%;
    background-color: #1A3E4C;
    color: #ffffff;
    z-index: 1000;
}

.side {
    padding: 0;
    margin: 0;
    /* here v h */
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
}

.nav-section {
    height: calc(100% - 87px);
    overflow-y: auto;
}

.nav-section .sticky-div {
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    padding: 15px;
}

.nav-section .sticky-div div{
    height: 60px;
    background-color: #f2f2f2;
}

.chatArea {
    /* here v h */
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

#msgInput {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #eee;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
}

#pre-user-select {
    height: calc(100vh - 150px);
    min-height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    cursor: pointer;
    color: #092834;
}

.user-list:hover {
    background-color: #E4F1F6;
}

.user-list button {
    height: fit-content;
}

.name-section {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.name-header {
    font-weight: 700;
}

@media (max-width: 575px) {
    .forMedia {
        position: absolute !important;
    }

    #appNavArea {
        background-color: white;
        min-width: 340px;
    }

    #appChatArea {
        min-width: 340px;
    }

    #appChatArea .heading i {
        visibility: visible !important;
        padding: 21px 20px 21px 20px;
    }

    #appChatArea .heading {
        padding-left: 0;
    }

    .side .simplebar-track.simplebar-vertical {
        margin-right: 3px;
    }

    .chatArea .simplebar-track.simplebar-vertical {
        margin-right: 2px !important;
    }

    .side .simplebar-track.simplebar-vertical {
        top: 92px;
    }

    .side .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
        top: 2px !important;
    }
}

@media (min-width: 576px) {
    .active {
        background-color: #1a3e4cd4 !important;
        color: #ffffff;
    }
}

.side .simplebar-track.simplebar-vertical {
    width: 3px;
    background-color: #1e557f14;
    visibility: visible !important;
}

.side .simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 92px;
    bottom: 2px;
}

.chatArea .simplebar-track.simplebar-vertical {
    width: 7px;
    margin-right: 4px;
    background-color: #1e557f14;
    top: 6px;
    bottom: 6px;
    border-radius: 7px;
}

.simplebar-scrollbar::before {
    background-color: #092834;
    left: 0;
    right: 0;
}

#appChatArea .heading {
    display: flex;
    align-items: center;
}

#appChatArea .heading i {
    visibility: hidden;
}

.messageArea {
    padding: 10px 0;
    overflow-y: auto;
    height: calc(100% - 120px);
}

.messageItems {
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 10px;
    display: flex;
}

.userSpecificMessageItems {
    justify-content: flex-end;
}

.messageContainer {
    font-size: 14px;
    line-height: 19px;
    max-width: 80%;
}

.messageWrap {
    height: 100%;
    border-radius: 0 7.5px 7.5px 7.5px;
    background-color: #eeeff1;
    box-shadow: 0 1px .5px rgba(0, 0, 0,.13);
}

.userSpecificmessageWrap {
    border-radius: 7.5px 0 7.5px 7.5px !important;
    background-color: #dcf8c6 !important;
}

.messagePadded {
    height: 100%;
    padding: 6px 7px 8px 9px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.timeSpanElement {
    font-size: 10px;
    display: block;
}

.statusTimeWrapper {
    float: right;
    display: flex;
}

.authorSpanElement {
    font-weight: 500;
    color: #444444;
    margin-right: 30px;
    display: block;
}

.oneTickSpanElement {
    font-size: 0.7em;
    margin-left: 10px;
    color: #444444c4;
}

.displayMsgText {
    display: block;
    margin-right: 30px;
}

.dateInfoItem {
    display: flex;
    justify-content: center;
    /* top: 10px;
    position: sticky;
    position: -webkit-sticky; */
}

.dateInfoStyle {
    max-width: 50%;
    font-size: 12px;
    border-radius: 7.5px 7.5px 7.5px 7.5px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0,.13);
    background-color: #e1f5feeb;
}

.flex-absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myMessage {
    padding: 0px 20px;
    width: 100%; 
    height: 100%; 
    border-radius: 100px;
    outline: none;
    border: none;
}

.btn-primary {
    color: #fff;
    background-color: #1a3e4cd4 !important;
    border: none !important;
    border-style: none;
    box-shadow: none !important;
}

.group-marker {
    border: 1px solid #1A3E4C;
    border-radius: 100px;
    padding: 0 6px;
    font-size: 11px;
    font-weight: 700;
    margin-left: 3%;
    height: fit-content;
}

.group-marker-active {
    border-color: #ffffff !important;
}

.flash-messages {
    position: sticky;
    top: 0;
    z-index: 10;
    color: #ffffff;
}

.flash-messages .danger {
    padding: 5px 15px;
    background-color: #dc3545;
}

.flash-messages .success {
    padding: 5px 15px;
    background-color: #28a745;
}

.flash-messages .info {
    padding: 5px 15px;
    background-color: #bd951dc4;
}

.signup-login {
    background-color: #1A3E4C;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-login-container {
    height: fit-content;
    background-color: #ffffff;
    padding: 40px 30px;
    width: max-content;
}

.form-wrap {
    width: 40vw;
    max-width: 340px;
    min-width: 260px;
}

.form-control, .signup-login-container .btn{
    height: calc(1.5em + .75rem + 10px) !important;
}

.form-control {
    background-color: #ced4da52 !important;
    box-shadow: none !important;
    border-color: #ffffff00 !important;
}

.form-control:focus {
    border-bottom: 2px solid #1a3e4c !important;
}

.shadow-custom {
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.6)!important;
}