html, body {
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    min-height: 260px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background-color: transparent;
}

.app {
    overflow: hidden;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.zero {
    margin: 0 !important;
    padding: 0 !important;
}

.heading {
    padding: 10px 16px 10px 15px;
    margin: 0 !important;
    height: 60px;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
}

.side {
    padding: 0;
    margin: 0;
    /* here v h */
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
    margin: 0 !important;
    padding: 0 !important;
}

.nav-section {
    height: calc(100% - 87px);
    overflow-y: auto;
    padding: 0 15px;
}

.chatArea {
    /* here v h */
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

#msgInput {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #eee;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
}

.messageArea {
    overflow-y: auto;
    height: calc(100% - 120px);
}

#pre-user-select {
    height: calc(100vh - 150px);
    min-height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.user-list button {
    height: fit-content;
}

.name-section {
    width: 90%;
}

@media (max-width: 576px) {
    .forMedia {
        position: absolute !important;
    }

    #appNavArea {
        background-color: white;
    }

    #appChatArea .heading i {
        visibility: visible !important;
        margin-right: 10px;
    }
}

.simplebar-scrollbar::before {
    /* change color and looks here */
}

.side .simplebar-scrollbar {
    margin-left: 5px;
}

#appChatArea .heading {
    display: flex;
    align-items: center;
}

#appChatArea .heading i {
    visibility: hidden;
}

.messageArea {
    padding: 10px 0;
}

.messageItems {
    padding-right: 3%;
    padding-left: 3%;
    margin-bottom: 10px;
    display: flex;
}

.userSpecificMessageItems {
    justify-content: flex-end;
}

.messageContainer {
    font-size: 14px;
    line-height: 19px;
    max-width: 80%;
}

.messageWrap {
    height: 100%;
    border-radius: 0 7.5px 7.5px 7.5px;
    background-color: #fff;
    box-shadow: 0 1px .5px rgba(0, 0, 0,.13);
}

.userSpecificmessageWrap {
    border-radius: 7.5px 0 7.5px 7.5px !important;
    background-color: #dcf8c6 !important;
}

.messagePadded {
    height: 100%;
    padding: 6px 7px 8px 9px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.timeSpanElement {
    font-size: 10px;
    display: block;
    float: right;
}

.authorSpanElement {
    font-weight: 500;
    color: #444444;
    margin-right: 30px;
    display: block;
}

.displayMsgText {
    display: block;
    margin-right: 30px;
}

.flex-absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}